{% comment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
</head>
<body>
    <h1>Nagłówek</h1>
    <h2>Nagłówek2222</h2>
    <h3>Pod-podtytuł</h3>
    <em>tekst</em>
    <strong>text</strong>
    <br />
    <br />
    <p>Hej!</p>
    <a href="https://polrider.pythonanywhere.com">link</a>
    <p>Działa!</p>
    <div></div>
    <ul><li>pierwsza pozycja</li><li>druga pozycja</li></ul>
</body>
</html>{% endcomment %}

<html>
    <head>
        <title>Polrider Eth0 Project</title>
    </head>
    <body>
        <div>
            <h1><a href="">Polrider - Eth0</a></h1>
        </div>

        <div>
            <p>published: 14.06.2016, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>safsfdsgfasg</p>
        </div>

        <div>
            <p>published: 14.06.2016, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>nbvmhccjfx</p>
        </div>
    </body>
</html>