{% comment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
</head>
<body>
    <h1>Nagłówek</h1>
    <h2>Nagłówek2222</h2>
    <h3>Pod-podtytuł</h3>
    <em>tekst</em>
    <strong>text</strong>
    <br />
    <br />
    <p>Hej!</p>
    <a href="https://polrider.pythonanywhere.com">link</a>
    <p>Działa!</p>
    <div></div>
    <ul><li>pierwsza pozycja</li><li>druga pozycja</li></ul>
</body>
</html>{% endcomment %}

<html>
    <head>
        <title>Polrider Eth0 Project</title>
    </head>
    <body>
        <div>
            <h1><a href="">Polrider - Eth0</a></h1>
        </div>

{% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}
    </body>
</html>